body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../images/p1.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stage {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 30;
    left: 0;
    right: 20;
    width: 30vw;
    height: 30vh;
    margin: auto;
    background-color: darkblue;
    border-radius: 5px;
}

.banner {
    position: fixed;
    top: 17vh;
    left: 0;
    right: 20;  
}

.blink_me {
    animation: blinker 5s linear infinite;
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Nanum Brush Script', cursive; */
    font-size: 40px;
    /* font-family: 'IM Fell English SC', serif; */
    font-family: 'Nosifer', cursive;
}

.content {
    font-family: 'Nosifer', cursive;
    font-size: 30px;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }